<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.aigouapi.mapper.ProductMapper">
    <!--删除-->
    <delete id="delete">
        delete from s_product
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--修改-->
    <update id="update">
        update s_product
        <set>
            <if test="productName != null and productName !='' ">
                product_name = #{productName},
            </if>
            <if test="productImage != null and productImage !='' ">
                product_image = #{productImage},
            </if>
            <if test="price != null ">
                price = #{price},
            </if>
            <if test="productType != null and productType !='' ">
                product_type = #{productType},
            </if>
            <if test="productDesc != null and productDesc !='' ">
                product_desc = #{productDesc},
            </if>
            <if test="productBrand != null and productBrand !='' ">
                product_brand = #{productBrand},
            </if>
        </set>
            where id = #{id}
    </update>

    <resultMap id="andType" type="Product">
        <association property="productType"
                     javaType="String"
                     column="product_type"
                     select="com.training.aigouapi.mapper.ProductTypeMapper.getId">

        </association>
    </resultMap>
    <!--分页条件查询-->
    <!--<select id="list" resultType="com.training.aigouapi.entity.Product">-->
    <select id="list" resultMap="andType">
        select * from s_product
        <where>
            <if test="words != null and words !='' ">
                product_name like concat('%',#{words},'%')
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>