<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.aigoushopapi.mapper.ShopCartProductMapper">
    <select id="findByCartIdAndProductId" resultType="com.training.aigoushopapi.entity.ShopCartProduct">
        SELECT * FROM s_shop_cart_product
        WHERE shop_cart_id = #{cartId} AND product_id = #{productId}
    </select>
    <update id="updateProductNum">
        UPDATE s_shop_cart_product
        SET product_num = #{productNum}
        WHERE shop_cart_id = #{shopCartId} AND product_id = #{productId}
    </update>
</mapper>
